* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {

    margin: 0;
    padding: 20px;

    background: #1b1b2f;

    color: white;

    text-align: center;

}



header {

    margin-bottom: 20px;

}



h1 {

    color: #ffcb05;

    text-shadow: 2px 2px 4px black;

}



button {

    background: #3b4cca;

    color: white;

    border: none;

    padding: 5px 8px;

    margin: 3px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 12px;

}


button:hover {

    background: #ffcb05;

    color: black;

}



#estado {

    margin: 15px;

    font-size: 18px;

    background: rgba(0,0,0,0.3);

    padding: 10px;

    border-radius: 10px;

}



#preguntas {

    margin-bottom: 20px;

}



#preguntaLibre {

    margin: 20px;

}



input {

    padding: 10px;

    width: 250px;

    border-radius: 10px;

    border: none;

    font-size: 16px;

}




#tablero{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    gap:8px;

}


.carta{

    padding:5px;
    text-align:center;

}


.carta img{

    width:80px;
    height:80px;

}


.carta h3{

    font-size:14px;
    margin:2px;

}


.carta p{

    font-size:11px;

}





.carta {

    background: white;

    color: black;

    border-radius: 15px;

    padding: 10px;

    cursor: pointer;

    transition: 0.3s;

    box-shadow: 0 5px 10px black;

}



.carta:hover {

    transform: scale(1.05);

}



.carta img {

    width: 120px;

    height: 120px;

}



.carta h3 {

    margin: 5px;

    color: #3b4cca;

}



.carta p {

    margin: 5px;

}



/* CARTA DESCARTADA */

.descartada {

    opacity: 0.35;

    filter: grayscale(100%);

    transform: scale(0.95);

}



.descartada:hover {

    transform: scale(1);

}



/* TITULOS DE CATEGORÍAS */

h2 {

    color: #ffcb05;

    margin-top: 15px;

}