body{

    font-family: Arial, sans-serif;
    background:#111827;
    color:white;
    text-align:center;
    margin:0;
    padding:10px;

}


h1{

    font-size:28px;

}


/* BOTONES */

button{

    background:#2563eb;
    color:white;
    border:none;
    padding:8px 12px;
    margin:3px;
    border-radius:10px;
    cursor:pointer;
    font-size:13px;

}


button:hover{

    transform:scale(1.05);

}



/* TABLERO */

#tablero{

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(120px,1fr));

    gap:12px;

    max-width:900px;
    margin:15px auto;

}



/* CARTAS */

.carta{

    background:linear-gradient(
    145deg,
    #ffffff,
    #dbeafe
    );


    color:#111;

    border:3px solid #facc15;

    border-radius:18px;

    padding:8px;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.4);


    transition:0.3s;

    cursor:pointer;

}



.carta:hover{

    transform:translateY(-8px) scale(1.05);

}



/* IMAGEN */

.carta img{

    width:100px;
    height:100px;

}



/* NOMBRE */

.carta h3{

    margin:5px;

    font-size:16px;

}



/* TIPOS */

.carta p{

    background:#111827;

    color:white;

    border-radius:8px;

    padding:4px;

    font-size:12px;

}



/* CARTA DESCARTADA */

.carta.descartada{

    filter:grayscale(100%);

    opacity:0.35;

    transform:scale(0.95);

}



/* VICTORIA */

#victoria{

    margin:20px;

    font-size:20px;

}



#victoria img{

    animation:salto 1s infinite;

}



@keyframes salto{

    50%{

        transform:translateY(-10px);

    }

}



/* MOVIL */

@media(max-width:600px){

    #tablero{

        grid-template-columns:
        repeat(3,1fr);

        gap:6px;

    }


    .carta{

        padding:5px;

    }


    .carta img{

        width:65px;
        height:65px;

    }


    .carta h3{

        font-size:12px;

    }

}